.hero {
  background: #fff8f3;
}
.hero-content {
  background-image: url("../../../assets/images/developer.png"),
    url("../../../assets//images/header_bg.png");
  background-repeat: no-repeat;
  background-position:
    left,
    right bottom;
}

.btn-design {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  padding: 13px 20px;
  border-radius: 8px;

  background-color: rgb(240 82 82);
}

@media screen and (min-width: 360px) and (max-width: 800px) {
  .hero-content {
    background-size: 20%, 120%;
  }
}
